.background-Pontos{
  --background: url("/assets/imagens/fundo_login_cadastro.jpg");
}

.info {
    --background: #00bf63a6;
    color: white;
    font-weight: bold;
}

ion-toolbar.info ion-title {
    color: white;
}

ion-toolbar.info ion-menu-button {
    color: white;
}


.input{
  border-radius: 10px;
  margin-top: 5px;
  --background: #00bf631f;
  --padding-start: 10px;
  color: black;
}
.formulario{
  background: white;
  padding: 10px;
  box-shadow: 0 4px 15px #00bf63;
  width: 90%;
  border-radius: 20px;
  margin: auto;
}
.texto{
  color: black;
  text-align: center;
}
.imagem{
  height: 20vh;
}
.botao{
  color: white;
  background: #00bf63;
  border-bottom: 4px solid #036e3a;
  border-radius: 20px;
  font-weight: bold;  
}
.botao:hover{
  transition: 0.3s;
  background: #036e3a;

}

ion-menu ion-content {
  --background: #f7fff7; 
}
ion-list {
  background: #f7fff7; 
}

.info_usuario {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #00bf63; 
  padding: 25px 10px; 
}

.avatar_perfil {
  width: 100px;
  height: 100px;
  border: 3px solid #036e3a; 
  box-shadow: 0 0 15px rgba(0, 191, 99, 0.8); 
  margin-bottom: 10px;
}

.titulo_lista {
  width: 100%;
  text-align: center;
  margin: 5px 0 0 0;
  font-size: 25px;
  color: #ffffff; 
  font-weight: 700;
}

ion-note {
  display: inline-block;
  font-size: 14px;
  color: #c8ffe5; 
}

.nota_lista {
  width: 100%;
  text-align: center;
  margin-top: 5px;
}

/* Itens de Navegação (Listagem) */
ion-item {
  --background: transparent;
  --color: #333333; /* Texto escuro no fundo claro */
  --highlight-color-focus: #00bf63; 
  --border-color: #00bf631a; /* Linhas divisórias leves */
  transition: all 0.2s ease-in-out;
}

/* Ícones */
ion-icon {
  color: #036e3a; /* Ícones em verde escuro */
}

/* Item Selecionado (Destaque) */
ion-item.selected {
  /* Fundo levemente verde para indicar seleção */
  --background: #00bf631f; 
  --color: #036e3a; /* Texto em verde escuro */
  font-weight: 600; 
  /* Linha de destaque na lateral em verde principal */
  border-left: 5px solid #00bf63; 
}

ion-item.selected ion-icon {
  color: #00bf63; 
  filter: drop-shadow(0 0 5px rgba(0, 191, 99, 0.5)); 
}