.detalhes_background{
  --background: url("/assets/imagens/fundo_login_cadastro.jpg");
}

h2,p{
    color:black;
    text-align: center;
}

.card_menu{
    background:white;
    box-shadow: 0px 5px 11px #00bf63;
    border-radius: 20px;
    margin-top: 0px;
}

.card_secundario{
    border-radius: 20px;
}

.titulo{
    color: black;
}

.info{
    background: #00bf63a6;
    font-weight: bolder;
}
.notas{
    color: black;
    font-size: medium;
}

.botao{
  color: white;
  background: #00bf63;
  border-bottom: 4px solid #036e3a;
  border-radius: 20px;
  font-weight: bold;  
}
.botao:hover{
  transition: 0.3s;
  background: #036e3a;
}

.botao_remover{
  color: white;
  background: #ff0000;
  border-bottom: 4px solid #6e0303;
  border-radius: 20px;
  font-weight: bold;  
}
.botao_remover:hover{
  transition: 0.3s;
  background: #6e0303;
}

.imagem{
    height: 25vh;
}