<ion-content>
  <div class="container">

    <h2>Detalhes do Ponto de Coleta</h2>
    <p>Aqui estão as informações completas do ponto selecionado.</p>

    <ion-card *ngIf="ponto">
      <ion-card-header>
        <ion-card-title>
          {{ editando ? 'Editando Ponto' : ponto.rua + ', Nº ' + ponto.numero }}
        </ion-card-title>

        <ion-card-subtitle *ngIf="!editando">
          {{ ponto.bairro }}
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>

        <!-- VISUAL -->
        <ng-container *ngIf="!editando">
          <ion-item>
            <ion-label>Rua</ion-label>
            <ion-note slot="end">{{ ponto.rua }}</ion-note>
          </ion-item>

          <ion-item>
            <ion-label>Bairro</ion-label>
            <ion-note slot="end">{{ ponto.bairro }}</ion-note>
          </ion-item>

          <ion-item>
            <ion-label>CEP</ion-label>
            <ion-note slot="end">{{ ponto.cep }}</ion-note>
          </ion-item>

          <ion-item>
            <ion-label>Número</ion-label>
            <ion-note slot="end">{{ ponto.numero }}</ion-note>
          </ion-item>

          <ion-item>
            <ion-label>Telefone</ion-label>
            <ion-note slot="end">{{ ponto.telefone }}</ion-note>
          </ion-item>

          <ion-item>
            <ion-label>Horário</ion-label>
            <ion-note slot="end">{{ ponto.horario_funcionamento }}</ion-note>
          </ion-item>

          <ion-button expand="block" color="primary" (click)="Editarponto()">
            Editar
          </ion-button>
          <ion-button expand="block" fill="outline" color="danger" (click)="ExcluirPonto()">
            Deletar
          </ion-button>
        </ng-container>

        <!-- EDIÇÃO -->
        <ng-container *ngIf="editando">

          <ion-item>
            <ion-label position="floating">Rua</ion-label>
            <ion-input [(ngModel)]="ponto.rua"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Bairro</ion-label>
            <ion-input [(ngModel)]="ponto.bairro"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">CEP</ion-label>
            <ion-input [(ngModel)]="ponto.cep"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Número</ion-label>
            <ion-input [(ngModel)]="ponto.numero"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Telefone</ion-label>
            <ion-input [(ngModel)]="ponto.telefone"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Horário</ion-label>
            <ion-input [(ngModel)]="ponto.horario_funcionamento"></ion-input>
          </ion-item>

          <ion-button expand="block" color="success" (click)="SalvarAlteracoes()">
            Salvar
          </ion-button>

          <ion-button expand="block" fill="outline" color="medium" (click)="Cancelaredicao()">
            Cancelar
          </ion-button>

        </ng-container>

      </ion-card-content>
    </ion-card>

  </div>
</ion-content>
