<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form (ngSubmit)="Cadastrar()">

    <ion-item>
      <ion-label position="floating">Nome de Usuário</ion-label>
      <ion-input
        [(ngModel)]="username"
        name="username"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input
        [(ngModel)]="email"
        name="email"
        type="email"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input
        [(ngModel)]="password"
        name="password"
        type="password"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">CEP</ion-label>
      <ion-input
        [(ngModel)]="cep"
        name="cep"
        inputmode="numeric"
        maxlength="8"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">CPF/CNPJ</ion-label>
      <ion-input
        [(ngModel)]="cpfCnpj"
        name="cpfCnpj"
        inputmode="numeric"
        maxlength="14"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Telefone</ion-label>
      <ion-input
        [(ngModel)]="telefone"
        name="telefone"
        inputmode="tel"
        maxlength="15"
        required
      ></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" class="ion-margin-top">
      Cadastrar
    </ion-button>

  </form>

</ion-content>
