<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="botao" (click)="voltar()"> <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        <ion-text class="botao">Voltar</ion-text>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="doacao">
    <img [src]="doacao.foto_url ? doacao.foto_url : placeholder" />

    <ion-card-header>
      <h2>{{ doacao?.nome_doacao }}</h2>
      <p>Condição: {{ doacao?.condicao }}</p>
    </ion-card-header>

    <ion-card-content>
      <p><strong>Especificação:</strong> {{ doacao?.especificacao || '—' }}</p>
      <p><strong>Endereço:</strong> {{ doacao?.endereco || '—' }}</p>
      <p>
        <strong>Descrição Geral:</strong> {{ doacao?.descricao_geral || '—' }}
      </p>
      <p><strong>Observação:</strong> {{ doacao?.observacao || '—' }}</p>
    </ion-card-content>

    <div *ngIf="isDoador && isOwner" style="padding: 16px">
    <ion-button (click)="editarDoacao()">
        Editar
    </ion-button>

    <ion-button (click)="excluirDoacao()">
        Excluir
    </ion-button>
</div>
  </ion-card>
</ion-content>
