<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> <ion-button (click)="voltar()" fill="clear" class="botao_voltar_header"> <ion-icon name="arrow-back" slot="start"></ion-icon>
        Voltar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background_detalhes">
  <ion-card *ngIf="doacao" class="card-principal">
    <img [src]="doacao.foto_url ? doacao.foto_url : placeholder" />

    <ion-card-header>
      <h2>{{ doacao?.nome_doacao }}</h2>
      <p>Condição: {{ doacao?.condicao }}</p>
    </ion-card-header>

    <ion-card-content>
      <p><strong>Especificação:</strong> {{ doacao?.especificacao || '—' }}</p>
      <p><strong>Endereço:</strong> {{ doacao?.endereco || '—' }}</p>
      <p>
        <strong>Descrição Geral:</strong> {{ doacao?.descricao_geral || '—' }}
      </p>
      <p><strong>Observação:</strong> {{ doacao?.observacao || '—' }}</p>
    </ion-card-content>

    <div *ngIf="isDoador && isOwner" style="padding: 16px">
      <ion-button class="botao" color="null" (click)="editarDoacao()"
        >Editar</ion-button
      >

      <ion-button class="botao_excluir" color="null" (click)="excluirDoacao()"
        >Excluir</ion-button
      >
    </div>
  </ion-card>
</ion-content>
