.login_background{
  --background: url("/assets/imagens/fundo_login_cadastro.jpg");
}

.login-card{
  background: white;
  box-shadow: 0 4px 15px #00bf63;
  text-align: center;
  width: 85%;
  margin: auto;
  margin-top: 30%;
  padding: 30px 20px;
  border-radius: 30px;
}
.input{
  border-radius: 10px;
  margin-top: 15px;
  --background: #00bf631f;
  --padding-start: 10px;
  color: black;
}
ion-content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  form {
    max-width: 360px;
    margin: 0 auto;
  }
}
p{
 color: #000000;
}

.botao{
  color: white;
  background: #00bf63;
  border-bottom: 4px solid #036e3a;
  border-radius: 20px;
  font-weight: bold;  
  margin-top: 10px;
}
.botao:hover{
  transition: 0.3s;
  background: #036e3a;
}
.ion-cadastro-button{
  color: black;
  padding: 0;
}