<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form (ngSubmit)="FazerLogin()">

    <ion-item>
      <ion-label position="floating">Usuário</ion-label>
      <ion-input
        [(ngModel)]="email"
        name="emil"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input
        [(ngModel)]="password"
        name="password"
        type="password"
        required
      ></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" class="ion-margin-top">
      Entrar
    </ion-button>

    <ion-button expand="block" fill="clear" (click)="IrParaCadastro()">
      Criar conta
    </ion-button>

  </form>

</ion-content>
