ion-menu ion-content {
  --background: #f7fff7; 
}
ion-list {
  background: #f7fff7; 
}

.info_usuario {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #00bf63; 
  padding: 25px 10px; 
}

.avatar_perfil {
  width: 100px;
  height: 100px;
  border: 3px solid #036e3a; 
  box-shadow: 0 0 15px rgba(0, 191, 99, 0.8); 
  margin-bottom: 10px;
}

.titulo_lista {
  width: 100%;
  text-align: center;
  margin: 5px 0 0 0;
  font-size: 25px;
  color: #ffffff; 
  font-weight: 700;
}

ion-note {
  display: inline-block;
  font-size: 14px;
  color: #c8ffe5; 
}

.nota_lista {
  width: 100%;
  text-align: center;
  margin-top: 5px;
}

ion-item {
  --background: transparent;
  --color: #333333; 
  --highlight-color-focus: #00bf63; 
  --border-color: #00bf631a; 
  transition: all 0.2s ease-in-out;
}

ion-icon {
  color: #036e3a; 
}

ion-item.selected {
  --background: #00bf631f; 
  --color: #036e3a; 
  font-weight: 600; 
  border-left: 5px solid #00bf63; 
}

ion-item.selected ion-icon {
  color: #00bf63; 
  filter: drop-shadow(0 0 5px rgba(0, 191, 99, 0.5)); 
}