<div class="ion-page">
  <ion-header>
    <ion-toolbar class="info">
      <ion-buttons slot="start"
        ><ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
      <ion-title>Pontos de Coleta</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content class="background-Pontos">
  <div class="container">
    <ion-img src="/assets/imagens/pontos_de_coleta.png"></ion-img>

    <ion-grid class="pontos-grid">
      <ion-row class="header">
        <ion-col><strong>Rua</strong></ion-col>
        <ion-col><strong>Bairro</strong></ion-col>
        <ion-col><strong>CEP</strong></ion-col>
        <ion-col><strong>Número</strong></ion-col>
        <ion-col><strong>Telefone</strong></ion-col>
        <ion-col><strong>Horário</strong></ion-col>
      </ion-row>

      <ion-row *ngFor="let item of pontos" class="linha">
        <ion-col>{{ item.rua }}</ion-col>
        <ion-col>{{ item.bairro }}</ion-col>
        <ion-col>{{ item.cep }}</ion-col>
        <ion-col>{{ item.numero }}</ion-col>
        <ion-col>{{ item.telefone }}</ion-col>
        <ion-col>{{ item.horario_funcionamento }}</ion-col>
        
        <ion-col *ngIf="isEmpresa">
          <ion-button class="botao_detalhe" color ="null"size="small" (click)="AbrirDetalhes(item)">Ver Detalhes</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
</div>

