.container {
  padding: 16px;
  text-align: center;
}
// #00bf63;
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  color: black;
  border-radius: 12px;
  overflow: hidden;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

th {
  background: #f5f5f5;
  font-weight: bold;
}

tr:last-child td {
  border-bottom: none;
}
